@@ -0,0 +1,26 @@
body{
color: red;
font-family: sans-serif;

}

li {
margin: 8px;
padding: 13px;
}

button {
background-color: grey;
padding: 30px;
font-size: 20px;
border-radius: 15px;
border: 10px;
border-color: blue;
border-style: groove;
color: yellow;
}

.active {
  background-color: pink;

}
